.cv_body{
    width: 70%;
    height: 900px;
    margin: auto;
    border: 1px black solid;
    box-shadow: 22px 5px 27px 8px rgb(66, 63, 58);
    background-color: rgba(255, 208, 0, 0.733);
}


header{
    display: flex;
}
img, .jam{
    margin-left: auto;
    margin-top: 3%;
    margin-right: 10%;
}
.jam{
    padding-top: 10px;
    border-radius: 10%;
    background-color: rgba(253, 49, 49, 0.719);
    text-align: center;
    width: 25%;
}
img{
    height: 192px;
    width: 192px;
    border-radius: 10%;
}
header div{
    margin-left: 5%;
    margin-top: 2%;
}
main{
    margin-left: 5%;
    display: flex;
}
header{
    background-color: #2997ffa8;
    padding-bottom: 15px;
}
body{
    font-weight: bolder;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

ul{
    list-style-type: none;
}
.imie{
    margin: 0;
}
.imie::first-letter{
    font-size: 150%;
}
.zawod, .tel{
    margin-top: 10px;
}

.opis, .tel, .mail{
    font-weight: normal;
}